<head>
  <meta charset="utf-8">
  <title>Search Recipes</title>
</head>
<body>
  <h1>Search Recipes</h1>
  
  <form id="search-form">
    <label for="search-input">Search:</label>
    <input type="text" id="search-input" name="search" placeholder="Enter keywords">
    <button type="submit">Search</button>
  </form>
  
  <ul>
    {{#each recipes}}
      <li>
        <h2>{{this.Title}}</h2>
        <img src="{{this.Image_Name}}" alt="Recipe Image">
        <p>{{this.Description}}</p>
        <a href="/recipe/{{this.id}}">View Recipe</a>
      </li>
    {{/each}}
  </ul>
  <button type="submit">Save Recipe</button>
  
  
  <script src="/js/search.js"></script>
</body>