<h2>{{Title}}</h2>
<div class="recipe-info">
  <img id="location"src="/images/Food-Images/{{Image_Name }}.jpg" style="padding-left: 80%;" />
</div>
 <div class="divider"></div>
  <div class="section">
 <h5>Ingredients:</h5>
<p>{{Cleaned_Ingredients}}</p>
<h5>Instructions:</h5>
<p>{{Instructions}}</p>
</div>