<head>
  <meta charset="utf-8">
</head>
<body>
  <h1>Search Recipes:</h1>
  
  <form id="search-form">
     <div class="input-field">
    <input type="text" id="search-input" name="search" placeholder="Enter keywords">
    <ul class="autocomplete-dropdown"></ul>
    <label for="search-input">Search:</label>
  </div>
    {{!-- <label for="search-input">Search:</label>
    <input type="text" id="search-input" name="search" placeholder="Enter keywords"> --}}
   
     <button id="search-button" class="waves-effect waves-light btn"><i class="material-icons right">search</i>Search</button>
    {{!-- <button type="submit">Search</button> --}}
  </form>
<<<<<<< HEAD
 
=======

>>>>>>> main
 <ul>
    
      <li>
        <h2 id="recipe-title"></h2>
        <img id="food-image">
        <p></p>
        <a id = "recipe-link" href="#">View Recipe</a>
      </li>
    
  </ul>
  <button class="waves-effect waves-light btn"><i class="material-icons right">save</i>Save Recipe</button>
  
  
  <script src="/js/search.js"></script>
</body>

