<head>
  <meta charset="utf-8">
  {{!-- <title>Welcome to your profile!</title> --}}
</head>
<body>
  <h1>Search Recipes:</h1>
  
  <form id="search-form">
    <label for="search-input">Search:</label>
    <input type="text" id="search-input" name="search" placeholder="Enter keywords">
   
     <button id="search-button" class="waves-effect waves-light btn"><i class="material-icons right">search</i>Search</button>
    {{!-- <button type="submit">Search</button> --}}
  </form>
<<<<<<< HEAD:views/search.handlebars
 
=======
  
  {{!-- <ul>
    {{#each recipes}}
      <li>
      </li>
    {{/each}}
  </ul> --}}
>>>>>>> refs/remotes/origin/cynthia-branch:views/profile.handlebars
 <ul>
    
      <li>
        <h2 id="recipe-title"></h2>
        <img id="food-image">
        <p></p>
        <a id = "recipe-link" href="#">View Recipe</a>
      </li>
    
  </ul>
  <button class="waves-effect waves-light btn"><i class="material-icons right">save</i>Save Recipe</button>
  
  
  <script src="/js/search.js"></script>
</body>

