/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

/* .page-footer {
  margin-top: 20px;
  margin-bottom: 10px;
} */




#location{
  padding-left: 80%;
}


/* main {
  flex: 1 0 auto;
} */

#page-container {
  position: relative;
  min-height: 100vh;
}


